{% extends 'base.html.twig' %}


{% block body %}

<div class="col-md-4 col-md-offset-4">
    <h4>Welcome to Expense Tracker</h4>
    <form action="" method="post">
        <div class="form-group {{ errors['username'] ? 'has-error' : '' }}">
            <label class="control-label" for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="{{ errors['username'] ? errors['username'] : 'Username' }}"
            >
        </div>
        <div class="form-group {{ errors['password'] ? 'has-error' : '' }}">
            <label class="control-label" for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="{{ errors['password'] ? errors['password'] : 'Password' }}"
            >
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

{% endblock %}
