<div class="navigation">
    <a href="/" class="btn btn-default">Today</a>
    <a href="/all" class="btn btn-default">All</a>
    <a href="/logout" class="btn btn-default pull-right">Logout</a>
</div>